/* app css stylesheet */


h1 { 
  margin: 20px 0px 20px 0px;
  font-family: 'Roboto Slab', serif;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.search-box {
  height: 50px;
  font-size: 50px;
  width: 100%;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 20px;
}